<p id="notice"><%= notice %></p>

<h1>Participants</h1>

<% @participations.each do |participation| %>
  <% if Participation.where(event_id:params[:event_id]).include?(participation)%>
    <%= User.find_by(id:participation.user_id).email %>
    <br>
  <% end %>
<%end%>

<% if Event.find(params[:event_id]).user_id == current_user.id %>
  <a href="<%= edit_event_path(params[:event_id])%>" class="card-link btn btn-dark" >Edit Event</a>
  <br><br>
  <a href="/events/<%=params[:id]%>" class="btn btn-danger" data-confirm="Êtes-vous sûr ?" data-method="DELETE">Cancel Event</a>
<%end%>