<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= User.find_by(id:@participation.user_id).email %>
</p>

<%= link_to 'Edit', edit_event_participation_path(@participation) %> |
<%= link_to 'Back', event_participations_path(@participation) %>
