
    <!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">The Enventbrite Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
      <div class="dropdown">
            <% if user_signed_in? %>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon Profil</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="active dropdown-item" href="#">Détails profil</a>              
                <a href="<%= destroy_user_session_path %>" data-confirm="Êtes-vous sûr ?" data-method="DELETE" >Disconnect</a></p>   
              </div>
            <% else %>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Se connecter/S'inscrire</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/users/sign_up">Sign Up</a>              
                <a class="dropdown-item" href="/users/sign_in">Sign In</a>              
              </div>
            <% end %>
      </div>
      </li>
    </ul>
  </div>
</nav>